<!DOCTYPE html>
<html>
<head>
    <title>My Bio Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="bootstrap.min.css"> -->
</head>
<body class="container">
    <div class="row">
        <div id="bio" class="col-12 col-lg-6 text-center">
                <h1>Nurudeen</h1>
                <img src="../statics/profile-icon.jpg" id="photo">
        </div>
        <div id="more" class="col-12 col-lg-6">

            <h2>Favorite Music Artists</h2>
            <ul>
                <li><a href=""></a>Ghamdi</li>
                <li><a href=""></a>Mishary</li>
                <li><a href=""></a>Mishawi</li>
                <li><a href=""></a>Abdulbaasit</li>
                <li><a href=""></a>Suraym</li>
            </ul>

            <h2>Favorite Films</h2>
            <ol>
                <li><a href=""></a>Umar Series</li>
                <li><a href=""></a>Battle of Badr</li>
                <li><a href=""></a>John Wick</li>
                <li><a href=""></a>Koto Aye</li>
                <li><a href=""></a>Shaworo Ide</li>
            </ol>
            <a class="btn btn-primary" href="https://www.meta.com/">My Profile</a>
        </div>
    </div>
    <!-- <script src="bootstrap.bundle.min.js"></script> -->
</body>
</html>