<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title>my profile</title>
    </head>
    <header>
        <div>
            <div class="title">
                <p>Nurudeen.CV</p>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="./about">About</a></li>
                    <li><a href="./skills">Skills</a></li>
                    <li><a href="./education">Education</a></li>
                    <li><a href="./experience">Experience</a></li>
                    <li><a href="./contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    <nav>
        <div>
            <img src="../statics/profile-icon.jpg">  
        </div>
        <div>
            <h2>General Information</h2>
            <p><span>Name: </span>Nurudeen abdulsalaam</p>
            <p><span>Email: </span>olaitansalaam2012@gmail.com</p>
            <p><span>Location: </span>Nasarawa, Nigeria</p>
        </div>
    </nav>
    <body>
        <div>
            <div class="getInTouch">
                <p>Available for freelance</p>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
    <footer>
        <
    </footer>
</html>